- title @store.name

%table
  %tr
    %th id
    %th title
    %th author
    %th author_id
    %th quantity

  - @stocks.each do |stock|
    %tr
      %td= stock.id
      %td= stock.book.title
      %td= stock.book.author.name
      %td= stock.book.author.id
      %td= stock.quantity

ordered by book title.
