- title 'Books'

%table
  %tr
    %th book id
    %th title
    %th author
    %th author_id

  - @books.each do |book|
    %tr
      %td= book.id
      %td= book.title
      %td= book.author.name
      %td= book.author.id

ordered by author name and book id.
