- title 'Books with quantity among all shops'

%table
  %tr
    %th book id
    %th title
    %th quantity

  - @books.each do |book|
    %tr
      %td= book.id
      %td= book.title
      %td= book.sum_quantity || 0

ordered by quantity and book id.
