!!!
%html
  %head
    %title Bookstore
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %h1= yield(:title)
    = render_breadcrumbs separator: ' > '
    = yield
